@using MVCKutuphane.Models.Entity
@model List<Hareketler>
@{
    ViewBag.Title = "OduncAl";
    Layout = "~/Views/Shared/_AnaBar.cshtml";
}


<h2>Kitap Ödünç Al</h2>
<br />
@using (Html.BeginForm("AnaKitap", "Kitap", FormMethod.Get))
{
    <p>
        Kitap Adı :  @Html.TextBox("x")
        <input type="submit" value="Ara" class="btn btn-primary" />
    </p>
}




<table class="table table-hover">
    <tr><th>İşlem ID</th><th>Kitap</th><th>Üye</th><th>Personel</th><th>Alış Tarihi</th><th>İade Tarihi</th><th>İşlemler</th></tr>
    @foreach (var ktp in Model)
    {
        <tr>
            <td>
                @ktp.ID
            </td>
            <td>
                @ktp.Kitaplar.Kitap
            </td>
            <td>
                @ktp.Uyeler.Uye
            </td>
            <td>
                @ktp.Personeller.Personel
            </td>
            <td>
                @Convert.ToDateTime(ktp.AlisTarih).ToString("dd/MM/yy")
            </td>
            <td>
                @Convert.ToDateTime(ktp.IadeTarih).ToString("dd/MM/yy")
            </td>
            <td>
                <a href="~/Odunc/OduncIade/@ktp.ID" class="btn btn-primary">İade Al</a>
            </td>
        </tr>
    }
</table>

